{% extends 'layoutAdmin.html.twig' %}

{% block header %}
	{% include 'components/_headerAdmin.html.twig' %}
{% endblock %}


{% block title %}{% endblock %}

{% block content %}
	<div class="container text-start">
		<div class="col justify-content-start">
			<h1 class="d-flex justify-content-center mb-4">Tutoriel : {{ tutorial.title }}</h1>
			<h1 class="d-flex justify-content-start fs-2">Leçons</h1>
			<section class="d-flex justify-content-start">
				<table class="table overflow-auto">
					<thead>
						<tr>
							<th scope="col">Titre</th>
							<th scope="col">Administrer</th>
						</tr>
					</thead>
					<tbody class="table-group-divider">
						{% for lesson in lessons %}
							<tr>
								<td>{{ lesson.title }}</td>
								<td>
									<a class="btn btn-outline-primary mt-1 me-2" href="{{ path('app_admin_tutorial_lesson_edit', {'tutorial': tutorial.id, 'lesson': lesson.id}) }}" role="button">Éditer</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="3">Aucune leçon trouvée</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</section>

			<a class="btn btn-primary mt-2" href="{{ path('app_admin_tutorial_lesson_new', {'tutoriel': tutoriel.id}) }}" role="button">Créer une nouvelle leçon</a>
		</div>
	</div>
{% endblock %}
