<form method="post" action="{{ path('app_admin_tutorial_lesson_quiz_delete', {'tutorial': tutorial.id, 'lesson': lesson.id, 'question': question.id }) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette question ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ question.id) }}">
    <button class="btn btn-outline-danger me-1 mt-2 rounded-4">Supprimer</button>
</form>
