{% extends 'layoutAdmin.html.twig' %}

{% block title %}Admin - Ajouter quiz
{% endblock %}

{% block content %}
	<div class="container text-start">
	<a href="{{ path('app_admin_tutorial_lesson_quiz_show', {'tutorial': tutorial.id, 'lesson': lesson.id}) }}" class="btn btn-outline-primary mt-2 mb-4" role="button">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mb-1 me-2 bi bi-arrow-left" viewbox="0 0 16 16">
					<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
				</svg>Retour aux questions</a>
		<div class="col justify-content-start">
			<h1 class="d-flex justify-content-center mb-4">Tutoriel :
				{{ lesson.tutorial.title }}</h1>
			<h1 class="d-flex justify-content-center fs-2 mb-4">Leçon :
				{{ lesson.title }}</h1>
			<div class="row">
				<h1 class="p-0 fs-2 mt-4">Nouvelle question</h1>
				<div class="g-2">
					{{ component('_form_collection_question', {
						form: form,
					}) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
