{% extends 'layoutAdmin.html.twig' %}

{% block title %}Créer un nouveau quiz
{% endblock %}

{% block content %}
	<div class="container text-start">
		<div class="col justify-content-start">
			<h1 class="d-flex justify-content-center mb-4">Tutoriel : {{ lesson.tutorial.title }}</h1>
			<h1 class="d-flex justify-content-center fs-2 mb-4">Leçon : {{ lesson.title }}</h1>
			<div class="row">
				<h1 class="p-0 fs-2">Créer un nouveau quiz</h1>
				<div class="g-2">

					{{ include('admin_question/_form.html.twig') }}

					<a href="{{ path('app_admin_tutorial_lesson_quiz_show', {'tutorial': tutorial.id, 'lesson': lesson.id}) }}" class="btn btn-outline-primary mt-2" role="button" aria-disabled="true">Retour à la liste</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
