{% extends 'layout.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('profil') }}
{% endblock %}


{% block title %}
	{% set title = 'Profil' %}
{% endblock %}

{% block body %}

	<div class="d-flex justify-content-center mt-5">
		<p class="titleProfil fs-1 fw-bold">Bonjour,</p>
		<p class="userName titleProfil fs-1 fw-bold">{{ app.user.firstName }}!</p>
	</div>

{% endblock %}
