{% extends 'layout.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('lesson') }}
{% endblock %}
{% set title = 'Tutoriel' %}


{% block title %}Tutoriel
{% endblock %}

{% block body %}
	<div class="container">
		<div class="cards-container">
			{% for tutorial in tutorials %}
				<div class="card rounded-circle justify-content-center mt-5">
					<a class="lesson" href="{{ path('lesson_index', {id: tutorial.id}) }}">
						<h2 class="text-light fs-3">{{ tutorial.title }}</h2>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
