{% extends 'layoutAdmin.html.twig' %}

{% block content %}
<h2 class="mb-5">Accueil</h2>
<p>Bienvenue dans votre espace administrateur. Utilisez la barre de navigation ci-dessus pour administrer la catégorie de votre choix.</p>
{% endblock %}

