<form method="post" action="{{ path('app_admin_tutorial_lesson_delete', {'id': lesson.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette leçon ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lesson.id) }}">
    <button class="btn">Supprimer</button>
</form>
