{% extends 'base.html.twig' %}

{% block title %}Edit Lesson{% endblock %}

{% block body %}
    <h1>Edit Lesson</h1>

    {{ include('admin_lesson/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_lesson_index') }}">back to list</a>

    {{ include('admin_lesson/_delete_form.html.twig') }}
{% endblock %}
