{% extends 'layoutAdmin.html.twig' %}

{% block title %}Créer une nouvelle leçon
{% endblock %}

{% block content %}
	<div class="container text-start">
		<div class="col justify-content-start">
			<div class="row">
				<h1 class="p-0">Créer une nouvelle leçon</h1>
				<div class="g-2">

					{{ include('admin_lesson/_form.html.twig') }}

					<a href="{{ path('app_admin_tutorial_lesson_show', {'id': tutorial.id}) }}" class="btn btn-outline-primary mt-2" role="button" aria-disabled="true">Retour à la liste</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}