.header {
    background-image: url(../images/header.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right 35% bottom 45%;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.3);
}

.header h1 {
    font-family: $font-title;
    color: $light;
    text-shadow: 0.1px 0.1px $dark;
}