.header {
    --header-size: 500px;
    height: var(--header-size);
    background-image: url(../images/header.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.4);
}

.header h1 {
    font-family: $font-title;
    color: $primary;
    text-shadow: 0.1px 0.1px $dark;
}

.middle-text {
    color: $primary;
}

.card-inner{
    height: 87%;
}