@import "theme.scss";

.cards-container {
	display: flex;
	justify-content: space-between;
    flex-direction: column;
    margin: 10px;
}

.alignCard{
    width: 48%;
    height: 170px;
    background: $light;
    text-align: center; 
    box-shadow: rgba(0, 0, 0, 0.15) 1px 3px 4px 0px;
    border-radius: 30px;
}

.alignCard:nth-child(even) {
    align-self: flex-end;
    margin-top: -70px;
}

.alignCard:nth-child(odd) {
    align-self: flex-start;
    margin-top: -70px;
}

.alignCard:hover {
    text-decoration: none;
    transform: scale(1.05);
    transition: 0.4s;
} 

.lesson{
    text-decoration: none; 
}

.descript{
    color: $intermediate;
    font-weight: 300;
}

.titleTuto{
    display: flex;
    justify-content: center;
    color: $secondary;
    margin-top: 4.5rem;
}

.lessonSpace {
    margin-top: 100px;
}

.progress{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
    margin-bottom: 130px;
    background-color: $intermediate;
    height: 70px;
    color: $light;
    border-radius: 10px;
    padding-left: 15px;
    font-weight: 600;
}

.texProgress {
    margin: 0;
}

.userName{
    margin-left: 5px;
    font-weight: bold;
}

.wordMain{
    display: flex;
    color: $light;
    margin-top: 40px;
    margin-bottom: 100px;
    margin-left: 25px;
}