@import "theme.scss";

.cards-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.alignCard {
    width: 44%;
    height: 160px;
    background: $light;
    box-shadow: rgba(0, 0, 0, 0.15) 1px 3px 4px 0px;
    border-radius: 30px;
    position: relative;
}

.alignCard a::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.alignCard:nth-child(even) {
    align-self: flex-end;
    margin-top: -70px;
}

.alignCard:nth-child(odd) {
    align-self: flex-start;
    margin-top: -70px;
}

.alignCard:hover {
    text-decoration: none;
    transform: scale(1.05);
    transition: 0.4s;
}

.lesson {
    text-decoration: none;
}

.descript {
    color: $intermediate;
    font-weight: 300;
}

.titleTuto {
    display: flex;
    justify-content: center;
    color: $secondary;
    margin-top: 4.5rem;
}


.progress {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 130px;
    background-color: $intermediate;
    height: 70px;
    color: $light;
    border-radius: 10px;
    padding-left: 15px;
    font-weight: 600;
}

.texProgress {
    margin: 0;
}

.userName {
    margin-left: 5px;
    font-weight: bold;
}

.wordMain {
    display: flex;
    color: $light;
    margin-top: 40px;
    margin-bottom: 100px;
}

.bodyContainer {
    margin-bottom: 6rem;
}

.blockContainer {
    margin-top: 100px;
    margin-bottom: 6rem;
}

.progress-circle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60px;
    height: 60px;
    margin-right: 15px;
    position: relative;
    text-align: center;
}

.bg-path,
.bar-path {
    fill: none;
    stroke: $validation;
    stroke-width: 2.5;
}

.bg-path {
    stroke: $light;
}

.percentage {
    font-weight: bold;
    margin-left: 10px;
}

.progress-text {
    margin-right: auto;
    margin-top: 10px;
}