@import "theme.scss";

.login {
    margin-top: 3rem;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.form-control {
    border-radius: 15px;
}

.loginbody {
    margin-top: 4.5rem;
}



