@import "theme.scss";
@import "lesson.scss";

.profile {
    justify-content: center;
    background-color: $intermediate;
    border-radius: 20px;
    margin-top: 120px;
}

.titleProfile {
    color: $light;
}

.profileImg {
    width: 100px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px;
}

.vich-image img {
    width: 100%;
    margin-top: 15px;
}
.progressBar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $light;
    height: auto;
    color: $intermediate;
    border-radius: 20px;
}

.progress-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 220px;
    position: relative;
}

.percentage span {
    font-weight: bold;
}

.bg-path {
    stroke: rgb(208, 208, 300);
}

.progressBar-text {
    padding: auto;
    margin-top: 10px;
}