@import "theme.scss";
@import "lesson.scss";

.profile {
    justify-content: center;
    background-color: $intermediate;
    border-radius: 20px;
    margin-top: 120px;
}

.titleProfile {
    color: $secondary;
}

.profileImg {
    width: 100px;
    height: 120px;
}

.vich-image img {
    width: 100%;
}
