@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@700&display=swap');

$font-body: 'Lato', sans-serif;
$font-title: 'Montserrat', sans-serif;
$font-size: 1.3rem;

$primary: #5864AB;
$secondary: #FBDC6D;
$intermediate: #21214F;
$light: #FAFAFA;
$dark: #000611;
$background: #EFEFEF;

@import "~bootstrap/scss/bootstrap";

body {
    min-height: 100vh;
    background-repeat: no-repeat;
    font-family: $font-body;
    font-size: $font-size;
    background: $background;
    margin-bottom: 20px;
}

.top-bg {
    border-radius: 0 0 30px 30px;
    inset: 0;
    z-index: -1;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px 0px;
}

h1 {
    font-family: $font-title;
}

.navbar {
    border-radius: 20px;
    margin: 15px;

}