{% extends 'base.html.twig' %}

{% block title %}Leçons
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row g-2">
			<h1 class=" text-center text-primary">Leçon</h1>
			{% for lesson in lessons %}
				<div class="col-sm-6 col-md-5 col-lg-6 ">
					<div class="card" style="height: 100%;">
						<div class="card-body">
							<div class="card-inner"> 
							 <div class="card-header">
								<h2 class="card-title text-primary">{{ lesson.title }}</h2>
								</div>
								<p class="card-text">{{ lesson.description }}</p>
							</div>
							<a href="{{ path('lesson_show', {id: lesson.id}) }}" class="btn btn-primary text-light mb-2">Acceder à la leçon</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
