{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('lessonTheme') }}
{% endblock %}


{% block title %}Leçons
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<h2 class=" text-center text-primary mb-3 g-5 display-2">Utiliser Blue Line</h2>
			{% for lesson in lessons %}
				<div class="col-sm-6 col-md-6 col-lg-6 g-5">
					<div class="d-flex justify-content-center">
						<div class="card rounded-circle justify-content-center mt-2">
							<a class="lesson" href="{{ path('lesson_show', {id: lesson.id}) }}">
								<h2 class="text-light fs-3">{{ lesson.title }}</h2>
							</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
