{% include 'layout.html.twig' %}

{% block body %}
	<div class="position-absolute top-50 start-50 translate-middle">
		<iframe width="320" height="250" src="https://www.youtube.com/embed/Cm63VfyL5BQ" allowfullscreen></iframe>
	</div>
{% endblock %}
