{% block header %}
	<div class="header bg-primary">
		<div class="container-fluid bg-primary text-center">
			<div class="row pt-2">
				<div class="col pt-2">
					<img src="{{ asset('build/images/Logo.png') }}" width="32" height="32" class="fs-4 fw-bold text-light text-end" alt="Logo de Blue Line">
				</div>
				<div class="col-6 mt-2">
					<p class="fs-3 fw-bold text-light text-center">Espace Administrateur</p>
				</div>
				<div class="col pt-2">
					<a class=" fs-4 nav-link text-white" href="{{ path('app_logout')}}">Se déconnecter</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block footer %}{% endblock %}
